.navbar{
  z-index: 100;
  width: 100%;
  padding: 0 4px;
  padding-bottom: env(safe-area-inset-bottom);
  background: #fff;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);

  &__link{
    cursor: pointer;
    flex-grow: 1;
    padding: 15px 0;
    display: block;
    &-button{
      border: none;
      font-family: inherit;
      background-color: transparent;
    }
  }
  &__icon{
    height: 22px;
    margin: 0 auto;
    display: flex;
    position: relative;
    &-home{
      width: 20px;
    }
    &-home:before{
      --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23D3D4DD%22%20d%3D%22m19.463%208.858-.002-.002L11.302.54A1.829%201.829%200%200%200%2010%200a1.83%201.83%200%200%200-1.302.54L.543%208.851l-.008.008a1.843%201.843%200%200%200%20.003%202.6%201.83%201.83%200%200%200%201.279.54h.325v5.845c0%201.188.967%202.155%202.155%202.155H7.49a.586.586%200%200%200%20.586-.586v-4.707c0-.542.442-.983.984-.983h1.883c.542%200%20.983.44.983.983v4.707c0%20.324.262.586.586.586h3.192a2.157%202.157%200%200%200%202.155-2.155V12h.302a1.83%201.83%200%200%200%201.302-.54%201.844%201.844%200%200%200%200-2.602Z%22%2F%3E%3C%2Fsvg%3E);
      background-color: #a73afd;
      mask-image: var(--icon);
      mask-repeat: no-repeat;
      mask-position: 50%;

    }

    &-catalog{
      width: 24px;

    }
    &-catalog:before{
      --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23C8C8D1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M16%209.5a3.5%203.5%200%201%200%200-7%203.5%203.5%200%200%200%200%207Zm0%202.5a5.973%205.973%200%200%200%203.453-1.093l2.24%202.149a1.25%201.25%200%200%200%201.731-1.804l-2.27-2.178A6%206%200%201%200%2016%2012ZM1.5%203h7.082A7.978%207.978%200%200%200%208%206H1.5a1.5%201.5%200%201%201%200-3Zm0%207h7.57a8.04%208.04%200%200%200%202.914%202.92c-.152.052-.315.08-.484.08h-10a1.5%201.5%200%200%201%200-3ZM0%2018.5A1.5%201.5%200%200%201%201.5%2017h17a1.5%201.5%200%200%201%200%203h-17A1.5%201.5%200%200%201%200%2018.5Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-image: var(--icon);
      background-color: #c8c8d1;
    }
    &-basket{
      width: 20px;
    }
    &-basket:before{
      --icon: url(data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.925.488a.833.833%200%200%200-1.517.691l4.295%209.416v.001c.005.008.023.05.046.09a.9.9%200%200%200%20.979.446c.045-.01.089-.023.098-.026l6.22-1.853.105-.031c.44-.13.867-.256%201.201-.523.29-.232.517-.535.657-.88.16-.396.159-.842.158-1.3V4.105c0-.01%200-.06-.004-.11a.901.901%200%200%200-.488-.73.9.9%200%200%200-.447-.098H4.147L2.925.487ZM11.833%2012a1.333%201.333%200%200%200%200%202.667h.007a1.333%201.333%200%200%200%200-2.667h-.007ZM3.167%2013.334c0-.737.597-1.334%201.333-1.334h.007a1.333%201.333%200%200%201%200%202.667H4.5a1.333%201.333%200%200%201-1.333-1.333Z%22%20fill%3D%22%23A9A8B0%22%2F%3E%3C%2Fsvg%3E);
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-image: var(--icon);
      background-color: #c8c8d1;
      mask-size: 28px;
    }
    &-favorite{
      width: 20px;

    }
    &-favorite:before{
      --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2219%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23C8C8D1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.225%200C2.755%200%200%202.639%200%206.082c0%202.149%201.37%204.31%203.145%206.34%201.81%202.07%204.238%204.215%206.703%206.336a1%201%200%200%200%201.304%200c2.465-2.12%204.893-4.266%206.703-6.336C19.631%2010.392%2021%208.23%2021%206.082%2021%202.639%2018.246%200%2014.775%200c-1.549%200-3.09.572-4.275%201.55A6.801%206.801%200%200%200%206.225%200Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-image: var(--icon);
      background-color: #c8c8d1;
    }
    &-profile{
      width: 20px;

    }
    &-profile:before{
      --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23C8C8D1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14.759%204.789c0%202.77-2.195%204.918-4.753%204.918-2.558%200-4.752-2.148-4.752-4.895C5.241%202.101%207.461%200%2010.006%200a4.763%204.763%200%200%201%204.753%204.789ZM0%2018.498C0%2019.484.677%2020%202.57%2020h14.86c1.893%200%202.57-.516%202.57-1.502%200-2.864-3.85-6.808-9.994-6.808C3.85%2011.69%200%2015.634%200%2018.498Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-image: var(--icon);
      background-color: #c8c8d1;
    }
  }
  &__icon:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
  }
  &__wrap{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    position: relative;
  }
}



@media (min-width: 375px) {
  .navbar{
    padding: 0 16px;
    padding-bottom: env(safe-area-inset-bottom);
    &__link{
      padding: 12px 0;
    }
    &__icon{
      height: 28px;
      &-home{
        width: 24px;
      }
      &-home:before{
        -webkit-mask-size: 24px;
        mask-size: 24px;
      }
      &-catalog{
        width: 28px;
      }
      &-catalog:before{
        -webkit-mask-size: 28px;
        mask-size: 28px;
      }
      &-basket{
        width: 28px;
      }
      &-basket:before{
        -webkit-mask-size: 28px;
        mask-size: 28px;
      }
      &-favorite{
        width: 28px;
      }
      &-favorite:before{
        -webkit-mask-size: 28px;
        mask-size: 28px;
      }
      &-profile{
        width: 28px;
      }
      &-profile:before{
        -webkit-mask-size: 28px;
        mask-size: 28px;
      }
    }
  }
}
