<div class="navbar">
  <a href="/" class="navbar__link">
    <span class="navbar__icon navbar__icon-home"></span>
  </a>
  <div class="navbar__wrap">
    <button class="navbar__link navbar__link-button">
      <span class="navbar__icon navbar__icon-catalog"></span>
    </button>
  </div>
  <a href="/" class="navbar__link">
    <span class="navbar__icon navbar__icon-basket">
          <span class="navbar__notify"></span>
    </span>
  </a>
  <a href="/" class="navbar__link">
    <span class="navbar__icon navbar__icon-favorite"></span>
  </a>
  <a href="/" class="navbar__link">
    <span class="navbar__icon navbar__icon-profile"></span>
  </a>
</div>
