<!--<app-header></app-header>-->
<div class="login">
      <div class="login__container">
        <div class="login-header">Login</div>
        <div class="login-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="login__form">
              <label for="email" class="login__form-label">Email log </label>
              <input
                type="email"
                class="login__form-control"
                id="email"
                formControlName="email"
                [ngClass]="{'is-invalid': email?.invalid && email?.touched}"
              />
              <div *ngIf="email?.invalid && email?.touched" class="login__invalid-feedback">
                <small *ngIf="email?.errors?.['required']">Email is required.</small>
                <small *ngIf="email?.errors?.['email']">Please enter a valid email address.</small>
              </div>
            </div>

            <div class="login__form">
              <label for="password" class="login__form-label">Password</label>
              <input
                type="password"
                class="login__form-control"
                id="password"
                formControlName="password"
                [ngClass]="{'is-invalid': password?.invalid && password?.touched}"
              />
              <div *ngIf="password?.invalid && password?.touched" class="login__invalid-feedback">
                <small *ngIf="password?.errors?.['required']">Password is required.</small>
                <small *ngIf="password?.errors?.['minlength']">
                  Password must be at least 6 characters.
                </small>
              </div>
              <div class="login__invalid-feedback" *ngIf="errorMessage" style="font-size: 13px;color: red">
                {{errorMessage}}
              </div>
            </div>

            <button type="submit" class="login__btn-primary" [disabled]="loginForm.invalid">Login</button>

            <div class="row mt-3">
              <div class="mt-3">
                <p href="" style="text-decoration: none;">Need Account? <span class="login__href" [routerLink]="['/register']">Registration</span></p>
              </div>
              <div class="login__href">
                <p [routerLink]="['/forgot']" style="text-decoration: none;">Forgot password?</p>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>
