<div class="forgot">
      <div class="forgot__container">
        <div class="forgot__header">Forgot Password</div>
        <div class="forgot__body">
          <form [formGroup]="forgotForm" (ngSubmit)="onResetClick()">
            <div class="forgot__form">
              <label for="email" class="forgot__form-label">Email</label>
              <input
                type="email"
                class="forgot__form-control"
                id="email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': email?.invalid && email?.touched
                }"
              />
              <div
                *ngIf="email?.invalid && email?.touched"
                class="forgot__invalid-feedback"
              >
                <small *ngIf="email?.errors?.['required']">Email is required.</small>
                <small *ngIf="email?.errors?.['email']">Please enter a valid email address.</small>
              </div>
            </div>

            <button type="submit" class="forgot__btn-primary">Reset Password</button>

              <div class="forgot__href">
                <p>
                  Need an account?
                  <span [routerLink]="['/register']" style="cursor: pointer; text-decoration: none;">Register</span>
                </p>
              </div>
              <div class="forgot__href">
                <p>
                  Already have an account?
                  <span [routerLink]="['/login']" style="cursor: pointer; text-decoration: none;">Login</span>
                </p>
              </div>
          </form>
        </div>
      </div>
</div>
