<!--<div class="container mt-5">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-6">-->
<!--      <div class="card">-->
<!--        <div class="card-header">Welcome</div>-->
<!--        <div class="card-body">-->
<!--            <button type="submit" class="btn btn-primary text-center" (click)="logout()">Logout</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="wrapper">
  <header class="header">
    <div class="header__container">
      <img class="header__logo-image" src="/assets/images/wb-logo.png" alt="Логотип" >

<!--      <div class="header__button-navigate">-->
        <img class="header__logo-menu" src="/assets/images/menu_icon-icons.com_69502.svg" alt="Логотип" >
<!--      </div>-->

      <form action="#" class="header__search">
        <div class="header__search-container">
          <button type="button" class="header__search-button">
            <img src="../../../assets/images/search.svg" alt="Icon: search">
          </button>
          <input type="text" class="header__input" placeholder="Search product">
        </div>
      </form>
      <div class="header__menu">
      <a  class="header__geo">
        <img src="../../../assets/images/geo.png" alt="Logo: geo" class="header__icon-menu">
        <span class="header__address-name">Адреса</span>
      </a>
      <a [routerLink]="['/login']" class="header__login">
        <img src="../../../assets/images/login.png" [routerLink]="['/login']" alt="Logo: login" class="header__icon-menu" >
        <span class="header__address-name">Войти</span>
      </a>
      <a  class="header__basket">
        <img src="../../../assets/images/basket.png" alt="Logo: basket" class="header__icon-menu">
        <span class="header__address-name">Корзина</span>
      </a>
      </div>
    </div>
  </header>


</div>
