* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-variation-settings: "wght" 450;
  color: #242424;
  text-rendering: geometricPrecision;
  background: #fff;
  font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  font-weight: 400;


  $primary-color: #C12AE7;;
  $secondary-color: #fff;
  $hover-color: #fdfcfd;
  $input-bg-color: rgba(255, 255, 255, 0.8);
  $text-color: #888686;
  $icon-size: 32px;
  $border-radius: 5px;


}


