.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 300px;
  justify-content: space-evenly;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  //font-weight: 400;
  line-height: 22px;
  padding: 5px 10px;
  display: block;
  transition: color 0.3s ease;
  font-variation-settings: "wght" 650;
  cursor: pointer;
  //display: inline-flex;
  position: relative;
}

.breadcrumbs__link:hover {
  color: #700fd7;
  }

.breadcrumbs__item--active .breadcrumbs__link {
  color: #700fd7;
  font-weight: bold;
}

.breadcrumbs__submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 140px;

}

.breadcrumbs__item--has-submenu:hover .breadcrumbs__submenu {
  display: block;
}

.breadcrumbs__sublist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__subitem {
  padding: 5px 10px;
}

.breadcrumbs__sublink {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  display: block;
  transition: color 0.3s ease;
  //height: 30px;
  padding: 12px 16px;
  border-radius: 10%;

}

.breadcrumbs__sublink:hover {
  color: #700fd7;
  background-color: #f1f1f1;
}


