<!--<ul class="breadcrumbs">-->
<!--  &lt;!&ndash; Главная &ndash;&gt;-->
<!--  <li class="breadcrumbs__item breadcrumbs__item&#45;&#45;active">-->
<!--    <a href="/lk" class="breadcrumbs__link" data-alt-routes="/lk/details" data-main="true" data-lk-header-st-name="Main">Главная</a>-->
<!--  </li>-->

<!--  &lt;!&ndash; Доставки &ndash;&gt;-->
<!--  <li class="breadcrumbs__item" data-attr="9">-->
<!--    <a href="/lk/myorders/delivery" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_DLV" data-lk-header-st-name="Delivery">Доставки</a>-->
<!--  </li>-->

<!--  &lt;!&ndash; Покупки с подменю &ndash;&gt;-->
<!--  <li class="breadcrumbs__item breadcrumbs__item&#45;&#45;has-submenu" data-attr="2">-->
<!--    <a href="/lk/myorders/archive" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Purchases" data-lk-header-st-name="Purchases">Покупки</a>-->
<!--    <div class="breadcrumbs__submenu">-->
<!--      <ul class="breadcrumbs__sublist">-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="/lk/myorders/archive" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_Purchases">Покупки</a>-->
<!--        </li>-->
<!--        <li class="breadcrumbs__subitem" data-switch="customerReceipt">-->
<!--          <a href="/lk/receipts/get" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_eCheck">Чеки</a>-->
<!--        </li>-->
<!--        <li class="breadcrumbs__subitem" data-switch="enableRefund" data-alt-switch="enableClaims">-->
<!--          <a href="/lk/myrefunds" class="breadcrumbs__sublink" data-alt-routes="/lk/myrefunds, /lk/claims" data-main="false" data-lk-header-wba="LK_RefundRegistration">Возвраты</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </li>-->

<!--  &lt;!&ndash; Избранное с подменю &ndash;&gt;-->
<!--  <li class="breadcrumbs__item breadcrumbs__item&#45;&#45;has-submenu" data-attr="1">-->
<!--    <a href="/lk/favorites" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Favorites" data-lk-header-st-name="Favorites">Избранное</a>-->
<!--    <div class="breadcrumbs__submenu">-->
<!--      <ul class="breadcrumbs__sublist">-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="/lk/favorites" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_Favorites">Избранное</a>-->
<!--        </li>-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="/lk/favoritebrands" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="Favourite_Brand">Любимые бренды</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </li>-->

<!--  &lt;!&ndash; Баланс &ndash;&gt;-->
<!--  <li class="breadcrumbs__item" data-attr="6" data-switch="showWallet">-->
<!--    <a href="/lk/mywallet/purchases" class="breadcrumbs__link" data-main="true">Баланс</a>-->
<!--  </li>-->

<!--  &lt;!&ndash; Отзывы и вопросы с подменю &ndash;&gt;-->
<!--  <li class="breadcrumbs__item breadcrumbs__item&#45;&#45;has-submenu" data-attr="4">-->
<!--    <a href="/lk/discussion/feedback" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Feedback" data-lk-header-st-name="Reviews">Отзывы и вопросы</a>-->
<!--    <div class="breadcrumbs__submenu">-->
<!--      <ul class="breadcrumbs__sublist">-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="/lk/discussion/feedback?type=waiting_feedbacks" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_ItemQuestions">Ждут отзыва</a>-->
<!--        </li>-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="/lk/discussion/feedback?type=comments" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_Feedback">Отзывы</a>-->
<!--        </li>-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="/lk/discussion/feedback?type=questions" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_ItemQuestions">Вопросы</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </li>-->

<!--  &lt;!&ndash; Обращения &ndash;&gt;-->
<!--  <li class="breadcrumbs__item" data-attr="3">-->
<!--    <a href="/lk/communications" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Requests" data-lk-header-st-name="Applications">Обращения</a>-->
<!--  </li>-->

<!--  &lt;!&ndash; Ещё разделы с подменю &ndash;&gt;-->
<!--  <li class="breadcrumbs__item breadcrumbs__item&#45;&#45;has-submenu" data-attr="7">-->
<!--    <a href="javascript:void(0);" class="breadcrumbs__link" data-main="true" data-lk-header-st-name="Other">Ещё разделы</a>-->
<!--    <div class="breadcrumbs__submenu">-->
<!--      <ul class="breadcrumbs__sublist">-->
<!--        <li class="breadcrumbs__subitem">-->
<!--          <a href="https://digital.wildberries.ru/" class="breadcrumbs__sublink" data-main="false">WB Цифровой</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->
