
<section class ="main">




  <ul class="breadcrumbs">
    <li class="breadcrumbs__item breadcrumbs__item--active">
      <a href="/lk" class="breadcrumbs__link" data-alt-routes="/lk/details" data-main="true" data-lk-header-st-name="Main">Главная</a>
    </li>

    <li class="breadcrumbs__item" data-attr="9">
      <a href="/lk/myorders/delivery" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_DLV" data-lk-header-st-name="Delivery">Доставки</a>
    </li>

    <li class="breadcrumbs__item breadcrumbs__item--has-submenu" data-attr="2">
      <a href="/lk/myorders/archive" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Purchases" data-lk-header-st-name="Purchases">Покупки</a>
      <div class="breadcrumbs__submenu">
        <ul class="breadcrumbs__sublist">
          <li class="breadcrumbs__subitem">
            <a href="/lk/myorders/archive" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_Purchases">Покупки</a>
          </li>
          <li class="breadcrumbs__subitem" data-switch="customerReceipt">
            <a href="/lk/receipts/get" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_eCheck">Чеки</a>
          </li>
          <li class="breadcrumbs__subitem" data-switch="enableRefund" data-alt-switch="enableClaims">
            <a href="/lk/myrefunds" class="breadcrumbs__sublink" data-alt-routes="/lk/myrefunds, /lk/claims" data-main="false" data-lk-header-wba="LK_RefundRegistration">Возвраты</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="breadcrumbs__item breadcrumbs__item--has-submenu" data-attr="1">
      <a href="/lk/favorites" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Favorites" data-lk-header-st-name="Favorites">Избранное</a>
      <div class="breadcrumbs__submenu">
        <ul class="breadcrumbs__sublist">
          <li class="breadcrumbs__subitem">
            <a href="/lk/favorites" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_Favorites">Избранное</a>
          </li>
          <li class="breadcrumbs__subitem">
            <a href="/lk/favoritebrands" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="Favourite_Brand">Любимые бренды</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="breadcrumbs__item" data-attr="6" data-switch="showWallet">
      <a href="/lk/mywallet/purchases" class="breadcrumbs__link" data-main="true">Баланс</a>
    </li>

    <li class="breadcrumbs__item breadcrumbs__item--has-submenu" data-attr="4">
      <a href="/lk/discussion/feedback" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Feedback" data-lk-header-st-name="Reviews">Отзывы и вопросы</a>
      <div class="breadcrumbs__submenu">
        <ul class="breadcrumbs__sublist">
          <li class="breadcrumbs__subitem">
            <a href="/lk/discussion/feedback?type=waiting_feedbacks" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_ItemQuestions">Ждут отзыва</a>
          </li>
          <li class="breadcrumbs__subitem">
            <a href="/lk/discussion/feedback?type=comments" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_Feedback">Отзывы</a>
          </li>
          <li class="breadcrumbs__subitem">
            <a href="/lk/discussion/feedback?type=questions" class="breadcrumbs__sublink" data-main="false" data-lk-header-wba="LK_ItemQuestions">Вопросы</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="breadcrumbs__item" data-attr="3">
      <a href="/lk/communications" class="breadcrumbs__link" data-main="true" data-lk-header-wba="LK_Header_Requests" data-lk-header-st-name="Applications">Обращения</a>
    </li>

    <li class="breadcrumbs__item breadcrumbs__item--has-submenu" data-attr="7">
      <a href="javascript:void(0);" class="breadcrumbs__link" data-main="true" data-lk-header-st-name="Other">Ещё разделы</a>
      <div class="breadcrumbs__submenu">
        <ul class="breadcrumbs__sublist">
          <li class="breadcrumbs__subitem">
            <a href="https://digital.wildberries.ru/" class="breadcrumbs__sublink" data-main="false">WB Цифровой</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>





<div class="main__section">
    <div   class="main__content">


<!--/////////////////////////////////-->
      <article *ngFor="let product of products" class="main__page-product">

        <div class="main__page-wrapper">
          <a class="main__page-link" href="">
            <div class="main__page-top">
              <button class="main__page-heart"></button>
              <div class="main__page-image">
                <img [ngSrc]="product.image" class="main__page-img" alt="{{ product.name }}" fill>
              </div>
              <div class="main__page-bottom">
                <p class="main__page-sale" *ngIf="product.sale">{{ product.sale }}%</p>
                <p class="main__page-recommend"  *ngIf="product.recommend">Хорошая цена</p>
                <p class="main__page-text" *ngIf="product.isSale">Распродажа</p>
              </div>
              <button class="main__page-fast">Быстрый просмотр</button>
            </div>
          </a>

          <div class="main__page-wrapper-middle">
            <div class="main__middle-price">
              <span class="main__middle-price-wrap">
                <ins class="ins">{{ product.price }}p.</ins>
              </span>
            </div>
            <h2 class="main__middle-brand">
              <span class="main__middle-description">{{ product.name }}</span>
            </h2>


            <div class="main__page-wrapper-bottom">
              <p class="main__bottom-rating">
                <span class="main__bottom-stars">
                  <span class="main__bottom-img"></span>
                  <span class="main__bottom-text">{{ product.rating }}</span>
                </span>

                <span class="main__bottom-count">
                  <span class="main__bottom-dok"></span>
                  <span class="main__bottom-number">{{ product.reviews }} оценок</span>
                </span>
              </p>

              <p class="main__bottom-basket">
                <a class="main__bottom-add" (click)="addToBasket(product)">
                  <span class="main__bottom-troly"></span>
                  <span class="main__bottom-date">{{ product.date }}</span>
                </a>
              </p>
            </div>
            </div>
        </div>
      </article>
<!--//////////////////////////////////-->

<!--      <article class="main__page-product">-->
<!--        <div *ngFor="let product of products" class="main__page-wrapper">-->
<!--          <a class="main__page-link" href="">-->
<!--            <div class="main__page-top">-->
<!--              <button class="main__page-heart"></button>-->
<!--              <div class="main__page-image">-->
<!--                <img [ngSrc]="product.image" class="main__page-img" [alt]="product.name" width="200" height="200">-->
<!--              </div>-->
<!--              <div class="main__page-bottom">-->
<!--                <p class="main__page-sale">-9%</p>-->
<!--                <p class="main__page-recommend">Хорошая цена</p>-->
<!--                <p class="main__page-text">Распродажа</p>-->
<!--              </div>-->
<!--              <button class="main__page-fast">Быстрый просмотр</button>-->
<!--            </div>-->
<!--          </a>-->

<!--          <div class="main__page-wrapper-middle">-->
<!--            <div class="main__middle-price">-->
<!--        <span class="main__middle-price-wrap">-->
<!--          <ins class="ins">{{ product.price | currency }}p.</ins>-->
<!--        </span>-->
<!--            </div>-->
<!--            <h2 class="main__middle-brand">-->
<!--              <span class="main__middle-description">{{ product.name }}</span>-->
<!--            </h2>-->

<!--            <div class="main__page-wrapper-bottom">-->
<!--              <p class="main__bottom-rating">-->
<!--          <span class="main__bottom-stars">-->
<!--            <span class="main__bottom-img"></span>-->
<!--            <span class="main__bottom-text">5</span>-->
<!--          </span>-->

<!--                <span class="main__bottom-count">-->
<!--            <span class="main__bottom-dok"></span>-->
<!--            <span class="main__bottom-number">5 оценок</span>-->
<!--          </span>-->
<!--              </p>-->

<!--              <p class="main__bottom-basket">-->
<!--                <a class="main__bottom-add" href="">-->
<!--                  <span class="main__bottom-troly"></span>-->
<!--                  <span class="main__bottom-date">7 марта</span>-->
<!--                </a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </article>-->

<!--  <div class="container">-->
<!--    <h1>Добро пожаловать!</h1>-->
<!--    <p *ngIf="authService.user">Вы вошли как: {{ authService.user.email }}</p>-->
<!--&lt;!&ndash;    <button (click)="logout()">Выйти</button>&ndash;&gt;-->
<!--  </div>-->
    </div>

</div>
</section>
