
<section class ="main">
  <div class="main__content">
<!--    <div class="preloader">-->
<!--      <div class="loader"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="main__pagination">-->
<!--    <div class="main__btnpg">-->
<!--      <button class="btnpg main__prev"><img  src="img/left.png" alt="left"></button>-->
<!--      <ul class="main__ul">-->
<!--         <li class = "main__items" data-value="1">1</li>-->

<!--      </ul>-->
<!--      <button class="btnpg main__next"><img  src="img/right.png" alt="right"></button>-->

<!--    </div>-->
    <div class="container">
      <h1>Добро пожаловать!</h1>
      <p *ngIf="authService.user">Вы вошли как: {{ authService.user.email }}</p>
      <button (click)="logout()">Выйти</button>
    </div>
  </div>

</section>
